$section1: #4b5361;
$section2: #8795ad;
$section3: #b6c4db;
$bojaInput1: #4fc4a3;
$bojaInput2: #c20615;
$bojaInput3: #d1cdcd;
$fontColorlight: #d1cdcd;
$fontColordark: black;
$fontColorgreen: #4fc4a3;
$fontColorred: #c20615;

$fontSizenajveci: 2rem;
$fontSizeNaslov: 1.2rem;
$fontSizeSrednji: 1.3rem;
$fontSizeMali: 1rem;

